.cards {
  display: grid;
  margin: 50px 0px 0px 0px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  max-width: 880px;
  justify-items: center;
}

.cards__card {
  position: relative;
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0;
}

.cards__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}

.cards__delete-button {
  background: transparent url("../images/trash.svg") center no-repeat;
  border: none;
  padding: 0;
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 18px 15px 0px 0px;
  z-index: 1;
}

.cards__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.cards__title {
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  flex: 1;
  margin: 25px 0px 25px 20px;
}

.cards__footer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
}

.cards__heart {
  background: url("../images/heart.svg") no-repeat center;
  width: 32px;
  height: 32px;
  border: none;
  margin-top: 31px;
  margin-right: 22.24px;
  margin-bottom: 29.87px;
  cursor: pointer;
}

.cards__heart__active {
  background: url("../images/black_heart.svg") no-repeat center;
}

.cards__heart:hover {
  opacity: 0.5;
  cursor: pointer;
}